<%
  add_view_stylesheet("homepage_header")
%>

<header class="homepage-header">
  <div class="govuk-width-container">
    <div class="homepage-header__title-container">
      <h1 class="homepage-header__title">
        <span class="govuk-!-margin-bottom-2 govuk-!-display-block"><%= t("teams.#{params[:team]}.intro_title.short_text") %></span>
        <span class="govuk-visually-hidden">-</span>
        <span class="homepage-header__sub homepage-inverse-header__intro--bold"><%= t("teams.#{params[:team]}.intro_html") %></span>
      </h1>
    </div>
  </div>
</header>